.App {
  .navbar-custom {
    padding: 1em 2em;
    margin-bottom: 2em;
  }

  .Home {
    .home-column {
      margin: 0 auto;
    }

    .HomeInput {
      margin-bottom: 3em;
    }
  }

  .History {
    .history-column {
      margin: 0 auto;
    }
  }
}
