.custom-title {
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  background-color: inherit;

  min-height: 100vh;
  height: 100%;

  .navbar-custom {
    padding: 1em 2em;
    margin-bottom: 2em;

    .custom-icon {
      font-size: 1.8em;
    }
  }

  #waiting {
    position: fixed;
    bottom: 1em;
    right: 1em;

    font-size: 2em;
    color: black;
  }

  .Home {
    .home-column {
      margin: 0 auto;
    }

    .HomeInput {
      margin-bottom: 3em;

      .custom-input {
        padding-left: 3em;
        padding-right: 3em;
        background-color: inherit;
      }

      #Subtext {
        padding-left: 2em;
        padding-right: 2em;

        #Cancel {
          opacity: 0;
          float: right;
          color: red;
          cursor: pointer;
        }
      }
    }
  }

  .CashTable {
    .row-btn {
      padding: 0.5em 0.1em;
    }

    i {
      opacity: 0.3;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    .delete-btn {
      &:hover {
        color: #ff443c;
      }
    }

    .edit-btn {
      &:hover {
        color: #12c4ff;
      }
    }

    .save-btn {
      &:hover {
        color: #f9ff1b;
      }
    }

    table, th, td {
      background-color: inherit;
      text-transform: capitalize;
    }

    .no-transactions {

    }
  }

  .History {
    .history-column {
      margin: 0 auto;
    }

    .date-title {
      text-decoration: underline #00d1b2;
    }
  }

  .Visual {
    .visual-column {
      margin: 0 auto;
    }

    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    #barchart {
      height: 30em;
    }
  }

  .Settings {
    .settings-column {
      margin: 0 auto;
    }
  }
}
