.App {
  .navbar-custom {
    padding: 1em 2em;
    margin-bottom: 2em;

    .custom-icon {
      font-size: 1.8em;
    }
  }

  .custom-title {
    font-family: 'Source Sans Pro', sans-serif;
  }

  #waiting {
    position: fixed;
    bottom: 1em;
    right: 1em;

    font-size: 2em;
    color: black;
  }

  .Home {
    .home-column {
      margin: 0 auto;
    }

    .HomeInput {
      margin-bottom: 3em;

      .custom-input {
        padding-left: 3em;
        padding-right: 3em;
      }

      #Subtext {
        padding-left: 2em;
        padding-right: 2em;

        #Cancel {
          opacity: 0;
          float: right;
          color: red;
          cursor: pointer;
        }
      }
    }
  }

  .CashTable {
    i {
      opacity: 0.3;
      &:hover {
        cursor: pointer;
        color: red;
        opacity: 1;
      }
    }

    th, td {
      text-transform: capitalize;
    }
  }

  .History {
    .history-column {
      margin: 0 auto;
    }

    .date-title {
      text-decoration: underline #00d1b2;
    }
  }

  .Report {
    .report-column {
      margin: 0 auto;
    }

    #heatmap {
      overflow-x: auto;
    }
  }

  .Settings {
    .settings-column {
      margin: 0 auto;
    }
  }
}
