.App {
  .navbar-custom {
    padding: 1em 2em;
    margin-bottom: 2em;

    .custom-icon {
      font-size: 1.8em;
    }
  }

  .Home {
    .home-column {
      margin: 0 auto;
    }

    .HomeInput {
      margin-bottom: 3em;

      .custom-input {
        padding-left: 3em;
        padding-right: 3em;
      }

      #Subtext {
        padding-left: 2em;
        padding-right: 2em;

        span {
          float: right;
          color: red;
        }
      }
    }
  }

  .SpendingTable {
    i {
      opacity: 0.1;
      &:hover {
        color: red;
        opacity: 1;
      }
    }
  }

  .History {
    .history-column {
      margin: 0 auto;
    }
  }

  .Report {
    .report-column {
      margin: 0 auto;
    }
  }

  .Settings {
    .settings-column {
      margin: 0 auto;
    }
  }
}
